:root {
    --primary-color: #3498db;
    --secondary-color: #2860be;
    --alert-color: #bb1b3a;
    --success-color: #459429;
    --warning-color: #c59a30;
    --font-family: "Open Sans", sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.swal-button {
    font-weight: bold;
    padding: 10px;
    display: block; /* Make buttons fill the container width */
    margin: 10px auto; /* Center buttons and add some space between them */
    text-align: center; /* Center button text */
    width: 90%; /* Adjust button width for smaller screens */
    box-sizing: border-box; /* Ensure padding doesn't add to the width */
}

.swal-button--1 { background-color: var(--alert-color); }
.swal-button--2 { background-color: var(--secondary-color); }
.swal-button--3 { background-color: var(--warning-color); }
.swal-button--4 { background-color: var(--success-color); }

.swal-footer, .swal-content {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--primary-color);
    border-radius: 50%;
    width: 80px; /* Adjusted for smaller screens */
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.swal-modal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    width: auto;
    max-width: 95%;
    margin: 20px;
}

.swal-content__input {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    width: calc(100% - 24px); /* Ensure it fits within the modal with padding */
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .swal-button {
        width: auto; /* Revert button width for larger screens */
        margin: 0; /* Remove auto margins */
        display: inline-block; /* Place buttons next to each other where possible */
        padding: 0.5em 1em; /* Adjust padding */
    }

    .swal-footer, .swal-content {
        flex-direction: row; /* Revert to horizontal layout for wider screens */
    }

    .loader {
        width: 120px;
        height: 120px; /* Larger loader for larger screens */
    }

    .swal-modal {
        max-width: 70%; /* Optimize modal width for larger screens */
    }
}

@media (max-width: 359px) {
    .swal-button {
        font-size: 14px; /* Reduce font size to fit more text */
        padding: 8px; /* Adjust padding to fit smaller screens */
    }
}
